@font-face {
    font-family: 'Didact Gothic';
    src: url('/font.ttf');
}

:root {
    /* --text-color: 255, 255, 255;
    --background-color: 20, 20, 20; */
    --text-color: 20, 20, 20;
    --background-color: 240, 240, 240;
    --background-highlight: 200, 200, 200;
    --shadow: 20, 25, 20;
    --highlight: 90, 57, 246;
    --highlight-two: 211, 0, 255;
    --link-inactive: 255, 255, 255;
    font-family: 'Didact Gothic', sans-serif;
    font-size: 1.3rem;
}
@property --accent {
    syntax: '<number>';
    initial-value: #ff0000;
}
body,
html {
    margin: 0px;
    padding: 0px;
}

h1,
p {
    margin: 0;
}

code {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 0.5rem;
    width: max-content;
    border-radius: 4px;
    font-size: 12px;
}

html {
    color: rgb(var(--text-color));
    background-color: rgb(var(--background-color));
    transition-property: color background-color;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}

a {
    text-decoration: none;
    color: inherit;
}

#nprogress .bar {
    background: linear-gradient(
        90deg,
        rgb(var(--highlight)) 0%,
        rgb(var(--highlight-two)) 100%
    ) !important;
    height: 3px !important;
}

#nprogress .peg {
    box-shadow: 0 0 0px rgb(var(--highlight)), 0 0 0px rgb(var(--highlight)) !important;
}

@keyframes square-anim {
    0% {
        opacity: 0%;
        transform: translateY(-5%);
    }
    100% {
        opacity: 100%;
        transform: translateY(0%);
    }
}

.parenthesis {
    opacity: 60%;
    font-size: medium;
}
